[submodule "bpm-transparency-plug-in"]
	path = bpm-transparency-plug-in
	url = https://github.com/PrivacyEngineering/bpm-transparency-plug-in.git
[submodule "bpm-transparency-logger-lib"]
	path = bpm-transparency-logger-lib
	url = https://github.com/PrivacyEngineering/bpm-transparency-logger-lib.git
[submodule "bpm-transparency-demo"]
	path = bpm-transparency-demo
	url = https://github.com/PrivacyEngineering/bpm-transparency-demo.git
